.container {
    display: block;
    margin: 0 auto;
    height: calc(100vh - 18px);
    width: 73.75rem;
    padding: 0px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1400px) {

    .container {
        width: 100vw!important;
    }

  }